.Card{
    background-color: #f6f6ef;
    line-height: 1em;
    padding-bottom: 1em;
    border-bottom: 2px solid #ff6601;

    .Story-Title{
        cursor: pointer;
        color: inherit;
        text-decoration: none;
    }

    .Serial_No_Box{
        width: 2em;
        padding-right: 1em;
    }
}

.text-grey{
    color: #828282
}

.Custom-Grid{
    display: flex;
    flex-wrap: wrap;

    .End_Align{
        text-align: right;
    }
}

